@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inner {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1130px) {
  .inner {
    padding: 0 25px;
  }
}

.head {
  background: #F9F6F1;
  padding: 60px 0;
}
.head .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.head .inner header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 993px) {
  .head .inner header {
    display: none;
  }
}
.head .inner header ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}
.head .inner header ul .logo {
  margin: 0 90px;
}
@media (max-width: 1016px) {
  .head .inner header ul .logo {
    margin: 0 35px;
  }
}
.head .inner header ul li {
  margin-right: 35px;
}
.head .inner header ul li:hover a {
  color: #d7b399;
}
.head .inner header ul li:last-child {
  margin-right: 0;
}
.head .inner header ul li a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 0;
  text-decoration: none;
}
.head .inner header .cart {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.head .inner header .cart strong {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #d7b399;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  right: -20px;
  top: -5px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.banner {
  background: #212121;
}
.banner .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 70px;
}
.banner .inner h2 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 23px;
}
.banner .inner h2 strong {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}
.banner .inner p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #fff;
}

.burger-menu_button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 30;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  display: none;
}
@media (max-width: 993px) {
  .burger-menu_button {
    display: block;
  }
}
.burger-menu_button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #BB1E99;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu_lines::before {
  content: "";
  top: -12px;
}

.burger-menu_lines::after {
  content: "";
  top: 12px;
}

.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}

.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}

.burger-menu_active .burger-menu_lines::after {
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  padding-top: 120px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #F9AFE9;
  overflow-y: auto;
  right: -100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.burger-menu_nav ul li {
  padding: 18px 35px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  color: #BB1E99;
  border-bottom: 1px solid #fff;
}
.burger-menu_nav ul li:first-child {
  border-top: 1px solid #fff;
}
.burger-menu_nav ul li:hover {
  filter: brightness(0.9);
}

.burger-menu_active .burger-menu_nav {
  right: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.categories-links {
  padding: 0;
  background: linear-gradient(to left, #F9F6F1 50%, #F4F4F4 50%);
}
.categories-links .inner {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
